@font-face {
    font-family: 'dirooz';
    src: url('../fonts/Dirooz.ttf');
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'dirooz';
}

.main-container {
    margin: 30px 0;
}

.select-box {
    position: relative;
    width: 20%;
    display: inline-block;
    margin-left: 10px;

    &__select {
        background: #cdcdcd;
        appearance: none;
        border: none;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 45px;
        padding-right: 15px;
        font-size: 17px;
        font-weight: 900;
    }

    &__icon-dropdown {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        width: 25px;
        height: 25px;
    }
}

.txt-navigation {
    font-weight: bold;
    font-size: 15px;
}

.main-box {
    height: 500px;
    background: #e3e3e3;
    border-radius: 15px 0 0 15px;
    display: flex;
}

.section {
    flex: 1;
    display: flex;

    &--sub-title {
        background: #c6cfe0;
    }

    &--sub-title2 {
        background: #9fb5dc;
    }

    &--sub-title3 {
        background: #8aa3cc;
    }

    &--sub-title4 {
        background: #6c8bc2;
    }

    &__title-box {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: 15px;
        margin: 20px 0;
    }

    &__input {
        border: none;
        height: 30px;
        font-size: 15px;
        padding-right: 15px;

        &::placeholder {
            color: #9d9d9d;
        }
    }

    &__btn-input {
        height: 33px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__plus-icon {
        width: 35px;
        height: 35px;
    }

    &__ul {
        height: 74%;
        overflow-y: auto;
        direction: ltr;
        margin-bottom: 15px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #3943879e;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #878787ac;
            border-radius: 5px;
        }
    }

    &__li {
        font-size: 16px;
        padding: 10px 20px 10px 0;
        direction: rtl;
        display: grid;
        justify-items: start;

        &--title-active {
            background: #c6cfe0;
        }

        &--subTitle-active {
            background: #9fb5dc;
        }

        &--subTitle-active2 {
            background: #8aa3cc;
        }

        &--subTitle-active3 {
            background: #6c8bc2;
        }

        &--subTitle-active4 {
            background: #5673a8;
        }
    }

    &__btn-box {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-top: 5px;
    }

    &__btn-li {
        font-weight: bold;
        border: none;
        border-radius: 3px;
        font-size: 11px;
        padding: 2px 4px;
        cursor: pointer;

        &--showBtn {
            background: #f4f5f7;
        }

        &--editBtn {
            background: #3365d1;
            color: white;
        }

        &--removeBtn {
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
        }

        &--createContent {
            background: #43ad4b;
            color: #fff;
        }

        &--hiddenBtn {
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
        }
    }

    &__trashIcon {
        width: 23px;
    }

    &__hiddenIcon {
        width: 23px;
    }
}

.minimize-btn {
    border: 1.5px solid;
    background: transparent;
    height: 24px;
    margin-right: 15px;
}

.minimize-icon {
    width: 23px;
}

.compressed-sec {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    border: 1px solid;

    & > span {
        transform: rotate(-90deg);
    }
}

.title-content {
    width: 85%;
}

.show > .compressed-sec {
    display: none;
}

.show > .title-content {
    width: 100%;
}

.hidden > .compressed-sec {
    display: flex;
    width: 56px;
}

.hidden > .title-content {
    display: none;
}

.hidden {
    width: 56px;
    flex: unset;
}
